.MainTemp {
  position: relative;
  left: 10px;
  bottom: -1px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.MainTemp #main-temp {
  text-transform: capitalize;
  position: relative;
  font-size: 80px;
}

.MainTemp #city-name {
  text-transform: capitalize;
  position: relative;
  bottom: 125px;
  font-size: 20px;
}

.MainTemp #celcius-temp {
  font-size: 15px;
  position: relative;
  left: 10px;
  bottom: 12px;
  margin: 0 auto;
  cursor: default;
  color: #212529;
}

.MainTemp #fahrenheit-temp {
  font-size: 15px;
  position: relative;
  bottom: 12px;
  left: 15px;
  margin: 0 auto;
  cursor: default;
  color: #212529;
}

.MainTemp #weather-icon {
  position: relative;
  left: 150px;
  bottom: 100px;
  width: 100px;
}

.MainTemp .location-pin {
  color: red;
  position: relative;
  left: 10px;
  top: 15px;
  font-size: 25px;
}

.MainTemp .location-pin:hover {
  color: gray;
}

.MainTemp .search-btn {
  position: relative;
  top: 10px;
}
