.Weather {
  position: relative;
  right: 30px;
  bottom: 100px;
}

.Weather .date-time {
  color: red;
  list-style: none;
}

.Weather .weather-description {
  color: blueviolet;
  list-style: none;
}
